Package                   Version
------------------------- -------
altgraph                  0.17.3
macholib                  1.16.2
pip                       23.3.2
pyinstaller               5.9.0
pyinstaller-hooks-contrib 2023.1
PyQt5                     5.15.9
PyQt5-Qt5                 5.15.2
PyQt5-sip                 12.11.1
setuptools                69.0.3
wheel                     0.42.0
